body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.searchbar {
    height: 100vh; 
    background-image:  url(waiting.png);
    background-size: cover;
    background-position: center;
/*    display: flex; */
    justify-content: center; 
    align-items: center;
    font-family: sans-serif;
}

.h1text {
    text-align: center;
    color: fff; 
    padding-top: 200px;
    font-size: 45px; 
    letter-spacing: 2px;
    font-weight: bold;
    
}
.h2text {
    text-align: center;
    color: fff; 
    padding-top: 0px;
    font-size: 20px; 
    letter-spacing: 2px;
    font-weight: bold;
    
}

span {
    color: #1D8ECE; 
}

.dropdown {
    height: 50px;
    padding: 10px;
    width: 500px;
}

.skills {
    width: 400px;
}

.location {
    width: 200px;
}

.searchbutton {
    height: 50px;
    width; 300px; 
    background: #1D8ECE; 
    color: #FFFFFF;
}

.searchbutton:hover {
    background: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

.form-box {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 50px; 
        
}

.logo {
    width: 60px;
}

.aboutparagraph{
    padding-top: 30px; 
    
}
.abouttitle{
        padding-top: 20px; 
}

.aboutpar{
    padding-top: 20px;
}

.planstitle{
    text-align: center;
}
.border-bottom1{
    border-bottom: 3px solid #D3D3D3;
    padding-top: 
}
ul {
    list-style: none;
    font-size: 30px; 
}
.list1 {
    text-align: center;
    font-size: 30px; 
}
span1 {
    color: #1D8ECE; 
    font-size: 50px;
}
.bottomfooter {
    padding-bottom: 125px;
}
.select { 
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    
    display: block;
    margin-top: 0px;
    padding: 10px 50px 10px 10px;
    background: url("/static/select.png") no-repeat 95% center;
    background-color: #ffffff;
    color: grey;
    border-radius: 0px;
    border: 2px solid #fff;
    align-content: center;
    
            } 