{% extends "layout.html" %}
{% block content %}
<div class="content-section">
<h1 class="abouttitle">ABOUT MYTURN</h1>
<p>
MyTurn is a Toronto based company founded in 2019 with the goal to save everyone time. Walk-In Clinics are un-predictable and tend to make patients wait for hours. MyTurn allows patients to see how many people are in line and their position within the queue. This company was started by an entrepreneur who was frustrated with being at walk-in clinics and having to write off the whole day. Our vision is to make patients visit the walk-in clinic and leave with a smile on their face.
</p>
</div>


{% endblock content %}