{% extends "layout.html" %}
{% block content %}
<div class="content-section">

<h1 class="abouttitle">ABOUT US</h1>
<p class="aboutpar">
MyTurn is a Toronto based company founded in 2019 with the goal to save everyone time.<br><p></p> Walk-In Clinics are un-predictable and tend to make patients wait for hours. MyTurn allows patients to see how many people are in line and their position within the queue. <br><p></p> This company was started by an entrepreneur who was frustrated with being at walk-in clinics and having to write off the whole day. Our vision is to make patients visit the walk-in clinic and leave with a smile on their face.
</p>
</div>
<div class="content-section">
<h1 class="abouttitle">LEADERSHIP</h1>
<img class="rounded-circle article-img" style="width: 100px; height: 100px; "src="/static/headshot.jpeg">
<h3 style="padding-top:15px;"><span>Christian C</span></h3>
<p class="aboutpar">
A business student who gets sick all the time and happens to visit walk-in clinics. Having witnessed the confusion in the waiting room, he has decided to create a solution. Christian studies finance at Queen's University, and loves to be outside.
</p>
</div>


{% endblock content %}