{% extends "layout.html" %}
{% block content %}
<h1>Our Plans</h1>
<div class="content-section plans">
    <h1 class="planstitle"> Free Trial</h1>
    <h3 class="planstitle"> <span>$0</span>/month</h1>
    <div class="border-bottom1 mb-4"></div>
 <div class="list1">
  <p><span1>✓</span1>    60 Days for Free</p>
  <p><span1>✓</span1>    One Lineup per Clinic</p>
  <p><span1>✓</span1>    Max Lineup Size 30 Users</p>
    </div>

</div>
<div class="content-section plans">
    <h1 class="planstitle"> Premium </h1>
    <h3 class="planstitle"> <span>$19</span>/month</h1>
    <div class="border-bottom1 mb-4"></div>
    <div class="list1">
  <p><span1>✓</span1>    Monthly Basis</p>
  <p><span1>✓</span1>    ∞ Lineups per Clinic</p>
  <p><span1>✓</span1>    ∞ Lineup Legnth</p>
    </div>


</div>
    <div class="border-top pt-3">
</div>




{% endblock content %}